.icon-container {
	border-radius: 50%;
	padding: 8px;
	width: 40px;
	height: 40px;
	transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
	background-color: #1e1e1e;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
}
/* Add this CSS to your stylesheet */
@media only screen and (max-width: 620px) {
	svg {
	  height: 15px;
	  width: 15px; /* Assuming you want to maintain aspect ratio */
	}
  }
  
  @media only screen and (min-width: 621px) {
	svg {
	  height: 20px;
	  width: 20px; /* Assuming you want to maintain aspect ratio */
	}
  }
 /* Define sizes for small screens */
/* Default image size */
.truncate-text {
	max-width: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }



  .truncate-text5 {
	max-width: 30%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }


  .post-content {
	word-wrap: break-word;
  }

  
/* Define different sizes for the logo based on screen size */
@media screen and (max-width: 620px) {
	/* Small screens */
	.logo {
	  width: 200px; /* Set the width of the logo for small screens */
	  height: auto; /* Maintain aspect ratio */
	  margin-top: -20px;
	  margin-bottom: -20px;
	}
  }
  
  @media screen and (min-width: 621px) {
	/* Large screens */
	.logo {
	  width: 240px; /* Set the width of the logo for large screens */
	  height: auto; /* Maintain aspect ratio */
	
	}
  }
  
/* Add this CSS to your stylesheet */
.profile-avatar {
	width: 2px; /* Adjust the width as needed */
	height: 2px; /* Adjust the height as needed */
  }
  
  .round-button {
	position: fixed;
	bottom: 60px;
	right: 20px;
	background-color: #1D88F2; 
	color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-decoration: none;
	z-index: 1000;
	transition: transform 0.3s ease;
  }
  
  .round-button:hover {
	transform: scale(1.1);
  }
  

  .round-button.hidden {
	opacity: 0; /* Hide the button */
  }
  
  @media (min-width: 621px) { /* Adjust based on your large screen breakpoint */
	.round-button {
	  display: none;
	}
  }

  .header-box {
	position: fixed;
	top: 55px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #1D88F2; 
	color: white;
	width: 130px;
	height: 35px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-decoration: none;
	z-index: 1000;
	transition: transform 0.3s ease;
}

  
  .header-box:hover {
	transform: scale(1.1);
  }
  

  .header-box.hidden {
	opacity: 0; /* Hide the button */
  }
  
  @media (min-width: 621px) { /* Adjust based on your large screen breakpoint */
	.header-box {
	  display: none;
	}
  }